<template>
  <div class="create">
    <q-card class="create__card q-pb-lg">
      <q-card-section>
        <form action="submit" class="flex justify-center">
          <q-input v-model="userLocal.first_name"
                   label="Имя"
                   label-color="grey-1"
                   style="width: 420px;"
          />
          <q-input v-model="userLocal.last_name"
                   label="Фамилия"
                   label-color="grey-1"
                   style="width: 420px;"
          />
          <q-input v-model="userLocal.department"
                   class="q-mt-sm"
                   label="отдел"
                   label-color="grey-1"
                   style="width: 420px;"
          />
          <q-input v-model="userLocal.phone"
                   class="q-mt-sm"
                   label="телефон"
                   label-color="grey-1"
                   style="width: 420px;"
          />
          <q-input v-model="userLocal.gender"
                   class="q-mt-sm"
                   label="пол"
                   label-color="grey-1"
                   style="width: 420px;"
          />
          <q-input v-model="userLocal.notes"
                   class="q-mt-sm"
                   label="заметки"
                   label-color="grey-1"
                   style="width: 420px;"
          />
          <q-input v-model="userLocal.vk"
                   class="q-mt-sm"
                   label="VK"
                   label-color="grey-1"
                   style="width: 420px;"
          />
          <q-input v-model="userLocal.headhunter"
                   class="q-mt-sm"
                   label="HeadHunter"
                   label-color="grey-1"
                   style="width: 420px;"
          />
          <q-input v-model="userLocal.hobbies"
                   class="q-mt-sm"
                   label="Увлечения"
                   label-color="grey-1"
                   style="width: 420px;"
          />
          <q-file class="q-mt-md" rounded outlined v-model="model" label="Фото">
            <template v-slot:prepend>
              <q-icon name="attach_file" />
            </template>
          </q-file>
        </form>
      </q-card-section>
    </q-card>
    <q-btn color="primary"
           class="q-mt-lg q-mb-xl"
           text-color="white"
           label="СОЗДАТЬ ПОЛЬЗОВАТЕЛЯ"
           style="font-size: 16px;"
           type="submit"
           @click="create(userLocal)"
    />
  </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      userLocal: {
        first_name: null,
        last_name: null,
        department: null,
        phone: null,
        gender: null,
        notes: null,
        vk: null,
        headhunter: null,
        hobbies: null,
      },
    };
  },
  methods: {
    ...mapActions({
      createUser: 'employee/CREATE_USER',
    }),
    create(user) {
      this.createUser(user)
        .then(() => {
          this.$router.push('/');
        });
    },
  },
};
</script>

<style lang="scss" scoped>
.create {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 1200px;
  margin: 0 auto;
  &__card {
    margin-top: 40px;
    width: 465px;
  }
}
</style>
