<template>
  <q-page class="flex flex-center">
    <img
      alt="Quasar logo"
      src="~assets/quasar-logo-full.svg"
    >
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  beforeMount() {
    if (window.localStorage.getItem('user')) {
      //
    } else {
      this.$router.push('/login');
    }
  },
};
</script>
