<template>
  <div class="management">
    <q-card class="management__users relative-position q-pb-lg" style="height: 787px;">
      <div class="title">
        Сотрудники
      </div>
      <q-card-section class="q-pr-sm">
        <q-input v-model="text"  label="Поиск">
          <template v-slot:prepend>
            <q-icon name="search" />
          </template>
        </q-input>
        <q-scroll-area
            style="height: 705px; padding-right: 10px; overflow: hidden;"
            :thumb-style="thumbStyle"
            :content-style="contentStyle"
            :content-active-style="contentActiveStyle"
        >
          <div style="padding: 20px 5px 5px;">
            <q-btn class="q-py-sm full-width"
                   style="margin: 0 5px 10px;"
                   color="white"
                   icon="add_circle"
                   text-color="primary"
                   size="30px"
                   to="/create"
            >
            </q-btn>
            <router-link :to="{ path:`/profile/${user.id}` }"
                         v-for="user in employee"
                         :key="user.id"
            >
              <q-card class="user text-black">
                <q-card-section class="relative-position">
                  <div class="flex">
                    <div>
                      <img src="../statics/images/user-img.png" height="60" width="auto" alt="">
                    </div>
                    <div class="flex column user__info q-ml-md">
                      <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                      <p>{{ user.department }}</p>
                      <p class="q-mt-sm ">{{ user.phone }}</p>
                      <p class="status">
                        <span v-if="user.gender === 'F'">Тестируется</span>
                        <span v-if="user.gender !== 'F'">Ожидание</span>
                        <span v-if="user.gender === 'F'" class="processing"></span>
                        <span v-if="user.gender !== 'F'" class="waiting"></span></p>
                    </div>
                  </div>
                </q-card-section>
              </q-card>
            </router-link>
          </div>
        </q-scroll-area>
      </q-card-section>
    </q-card>
    <div class="management__tests">
      <q-card class="relative-position"
              style="max-height: 560px;"
      >
        <div class="title_1">
          Шаблоны опросов
        </div>
        <q-card-section class="q-pr-sm">
          <q-input v-model="text"  label="Поиск">
            <template v-slot:prepend>
              <q-icon name="search" />
            </template>
          </q-input>
          <q-scroll-area
              style="height: 465px; padding-right: 10px;"
              :thumb-style="thumbStyle"
              :content-style="contentStyle"
              :content-active-style="contentActiveStyle"
          >
            <div class="tests" style="padding: 20px 5px 5px; overflow:hidden;">
              <q-btn class="q-py-sm full-width"
                     color="white"
                     icon="add_circle"
                     text-color="primary"
                     size="30px"
                     @click="create"
              >
              </q-btn>
              <q-card class="test bg-amber-2 text-white relative-position"
                      style="min-height: 95px;"
                      v-for="test in tests" :key="test.id"
              >
                <q-card-section>
                  <router-link :to="{ path:`/test/${test.id}` }">
                    <div class="text-h6 text-center q-mt-sm">{{ test.title }}</div>
                  </router-link>
                </q-card-section>
                <q-btn @click="deleting(test.id)"
                       class="delete"
                       flat
                       round
                       color="grey-2"
                       size="18px"
                       icon="delete_sweep"
                />
                <q-btn v-if="test.started_at"
                       class="time"
                       flat
                       round
                       color="grey-2"
                       size="18px"
                       icon="schedule"
                       disable
                />
                <q-btn v-if="!test.started_at"
                       class="sent"
                       flat
                       round
                       color="grey-2"
                       size="18px"
                       icon="add_to_home_screen"
                />
              </q-card>
            </div>
          </q-scroll-area>
        </q-card-section>
      </q-card>
      <q-card class="relative-position"
              style="max-height: 190px; margin-top: 45px; margin-bottom: 30px;"
      >
        <div class="title_2">
          Тесты от профессионалов
        </div>
        <q-card-section class="q-pr-sm">
          <q-scroll-area
              style="height: 525px; padding-right: 10px;"
              :thumb-style="thumbStyle"
              :content-style="contentStyle"
              :content-active-style="contentActiveStyle"
          >
            <div class="tests" style="padding: 10px 5px 5px; overflow:hidden;">
              <router-link to="/">
                <q-card class="test bg-green-1 text-white relative-position"
                        style="min-height: 95px;"
                >
                  <q-card-section>
                    <div class="text-h6 text-center">#1 Тест от профессионала</div>
                  </q-card-section>
                  <q-btn v-if="time"
                         class="time"
                         flat
                         round
                         color="grey-2"
                         size="18px"
                         icon="add"
                  />
                </q-card>
              </router-link>
              <router-link to="/">
                <q-card class="test bg-green-1 text-white relative-position"
                        style="min-height: 95px;"
                >
                  <q-card-section>
                    <div class="text-h6 text-center">#2 Тест от профессионала</div>
                  </q-card-section>
                  <q-btn v-if="time"
                         class="time"
                         flat
                         round
                         color="grey-2"
                         size="18px"
                         icon="add"
                  />
                </q-card>
              </router-link>
              <router-link to="/">
                <q-card class="test bg-green-1 text-white relative-position"
                        style="min-height: 95px;"
                >
                  <q-card-section>
                    <div class="text-h6 text-center">#3 Тест от профессионала</div>
                  </q-card-section>
                  <q-btn v-if="time"
                         class="time"
                         flat
                         round
                         color="grey-2"
                         size="18px"
                         icon="add"
                  />
                </q-card>
              </router-link>
            </div>
          </q-scroll-area>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      time: true,
      test: {
        title: 'test',
        goal: 'goal',
      },
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#027be3',
        width: '5px',
        opacity: 0.75,
      },

      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#027be3',
        width: '9px',
        opacity: 0.2,
      },
    };
  },
  computed: {
    ...mapGetters({
      employee: 'employee/employee',
      tests: 'tests/tests',
    }),
  },
  methods: {
    ...mapActions({
      loadEmployee: 'employee/LOAD_EMPLOYEE',
      loadTests: 'tests/LOAD_TESTS',
      deleteTest: 'tests/DELETE_TEST',
      createTest: 'tests/CREATE_TEST',
    }),
    deleting(id) {
      this.deleteTest(id)
        .then(() => {
          this.loadTests();
        });
    },
    create() {
      this.createTest(this.test)
        .then(() => {
          this.loadTests();
        });
    },
  },
  beforeMount() {
    this.loadEmployee();
    this.loadTests();
  },
};
</script>

<style lang="scss" scoped>
.management {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 50px auto 0;
  height: 80vh;
  &__users, &__tests {
    .title, .title_1, .title_2 {
      position: absolute;
      top: -25px;
      left: 0;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.05em;
      color: #C4C4C4;
    }
  }
  &__users {
    width: 49%;
    a {
      text-decoration: none;
    }
    .user {
      margin: 0 0 10px;
      &__info {
        h6 {
          margin: 0;
          font-size: 17px;
          line-height: 20px;
          letter-spacing: 0.05em;
        }
        p {
          margin-bottom: 0;
        }
        .status {
          position: absolute;
          right: 16px;
          bottom: 16px;
          display: flex;
          font-size: 13px;
          line-height: 14px;
        }
        .processing {
          margin-left: 5px;
          display: block;
          height: 15px;
          width: 15px;
          background: #6FA1DC;
          border-radius: 50%;
        }
        .waiting {
          margin-left: 5px;
          display: block;
          height: 15px;
          width: 15px;
          border-radius: 50%;
          background: #FFF958;
        }
      }
    }
  }
  &__tests {
    width: 49%;
    .tests {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
      grid-column-gap: 15px;
      grid-row-gap: 15px;
      .text-h6 {
        font-size: 18px;
      }
      .test {
        padding-top: 25px;
        padding-bottom: 15px;
        height: 136px;
        a {
          text-decoration: none;
          color: #FFFFFF;
        }
        .delete {
          position: absolute;
          top: 0;
          right: 0;
        }
        .time, .sent {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}
</style>
