<template>
  <div class="profile">
    <q-card class="profile__card">
      <div class="profile__card_top">
        <div class="name">
          <h2>{{ userLocal.first_name }} {{ userLocal.last_name }}</h2>
          <h3>{{ userLocal.department }}</h3>
        </div>
        <img src="../statics/images/card-img.png" height="auto" width="50%" alt="">
      </div>

      <q-card-section class="profile__info">
        <div class="profile__info_left q-pl-md">
          <q-input v-model="userLocal.phone"
                   class="q-mt-sm"
                   label="Телефон"
                   label-color="grey-1"
                   style="width: 515px;"
          />
          <div class="profile__info_more" :class="{ 'profile__info_more-show': showInfo }">
            <q-input v-model="userLocal.gender"
                     class="q-mt-sm"
                     label="пол"
                     label-color="grey-1"
                     style="width: 515px;"
            />
            <q-input v-model="userLocal.notes"
                     class="q-mt-sm"
                     label="заметки"
                     label-color="grey-1"
                     style="width: 515px;"
            />
            <q-input v-model="userLocal.vk"
                     class="q-mt-sm"
                     label="VK"
                     label-color="grey-1"
                     style="width: 515px;"
            />
            <q-input v-model="userLocal.headhunter"
                     class="q-mt-sm"
                     label="HeadHunter"
                     label-color="grey-1"
                     style="width: 515px;"
            />
          </div>
          <q-expansion-item
              class="q-mt-md"
              v-model="showInfo"
              :caption="!showInfo ? 'Больше информации' : 'Скрыть'"
              style="width: 515px;"
          >
          </q-expansion-item>
        </div>
        <div class="profile__info_right flex column justify-between">
          <q-input
              v-model="userLocal.hobbies"
              label="увлечения, хобби, интересы"
              label-color="grey-1"
              stack-label
              type="textarea"
          />
          <img src="../statics/images/achive.jpg" class="q-mt-md" width="75%" alt="">
          <div class="flex justify-between q-mt-lg">
            <q-btn color="amber-1"
                   text-color="amber-3"
                   label="Обратная связь"
                   style="width: 390px; font-weight: 600; font-size: 16px;"
                   @click="prompt = true"
            />
            <div>
              <q-btn class="q-mr-md"
                     round
                     color="white"
                     text-color="amber-3"
                     icon="delete"
                     @click="deleting(user.id)"
              />
              <q-btn round
                     color="white"
                     text-color="amber-3"
                     icon="save"
                     @click="updating(userLocal)"
              />
            </div>
          </div>
        </div>
      </q-card-section>

    </q-card>

    <div class="profile__tests">
      <h2>Тесты</h2>
      <div class="profile__tests_wrapper">
        <q-expansion-item
            class="overflow-hidden q-mb-lg"
            style="border-radius: 10px"
            v-model="test1"
            :header-class="test1 ? 'bg-primary text-white' : 'bg-amber-4 text-white'"
            expand-icon-class="text-white"
            label="Интерес к работе - эмоции"
        >
          <q-card>
            <q-card-section>
              <div class="q-mb-md">
                <p>1. Зацени, насколько тебе нравится твое рабочее место от 1 до 5.</p>
                <q-rating
                    readonly
                    size="sm"
                    v-model="ratingModel"
                    color="primary"
                />
              </div>
              <div class="q-mb-md">
                <p>2. Познакомился ли ты со своей командой?</p>
                <q-radio disable
                         v-model="shape"
                         val="radio1"
                         label="Да"
                />
                <q-radio disable
                         v-model="shape"
                         val="radio2"
                         label="Нет"
                />
              </div>
              <div class="q-mb-md">
                <p>3. Насколько ты понял свои обязанности?</p>
                <q-rating
                    readonly
                    size="sm"
                    v-model="ratingModel"
                    color="primary"
                />
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
        <q-expansion-item
            class="overflow-hidden q-mb-lg"
            style="border-radius: 10px"
            v-model="test2"
            :header-class="test2 ? 'bg-primary text-white' : 'bg-amber-4 text-white'"
            expand-icon-class="text-white"
            label="Для стажера - эмоции"
        >
          <q-card>
            <q-card-section>
              <div class="q-mb-md">
                <p>1. Зацени, насколько тебе нравится твое рабочее место от 1 до 5.</p>
                <q-rating
                    readonly
                    size="sm"
                    v-model="ratingModel"
                    color="primary"
                />
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
        <q-expansion-item
            class="overflow-hidden q-mb-lg"
            style="border-radius: 10px"
            v-model="test3"
            :header-class="test3 ? 'bg-primary text-white' : 'bg-amber-4 text-white'"
            expand-icon-class="text-white"
            label="Первое тестирование - компетенции"
        >
          <q-card>
            <q-card-section>
              <div class="q-mb-md">
                <p>1. Зацени, насколько тебе нравится твое рабочее место от 1 до 5.</p>
                <q-rating
                    readonly
                    size="sm"
                    v-model="ratingModel"
                    color="primary"
                />
              </div>
              <div class="q-mb-md">
                <p>
                  2. Познакомился ли ты со своей командой?
                </p>
                <q-radio disable
                         v-model="shape"
                         val="radio1"
                         label="Да"
                />
                <q-radio disable
                         v-model="shape"
                         val="radio2"
                         label="Нет"
                />
              </div>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </div>
    </div>

    <q-dialog v-model="prompt">
      <q-card style="min-width: 550px" class="q-pa-md">
        <q-card-section>
          <div class="text-h6">Обратная связь</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-input
              v-model="address"
              label="Напишите то, что хотите сказать сотруднику о его работе"
              label-color="grey-1"
              type="textarea"
          />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Закрыть" v-close-popup />
          <q-btn flat label="Отправить" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      prompt: false,
      ratingModel: 3,
      test1: false,
      showInfo: false,
      userLocal: {
        first_name: null,
        last_name: null,
        department: null,
        phone: null,
        gender: null,
        notes: null,
        vk: null,
        headhunter: null,
        hobbies: null,
      },
    };
  },
  computed: {
    ...mapGetters({
      user: 'employee/user',
    }),
  },
  methods: {
    ...mapActions({
      loadUser: 'employee/LOAD_USER',
      deleteUser: 'employee/DELETE_USER',
      updateUser: 'employee/UPDATE_USER',
    }),
    deleting(id) {
      this.deleteUser(id)
        .then(() => {
          this.$router.push('/');
        });
    },
    updating(user) {
      this.updateUser(user)
        .then(() => {
          this.$router.push('/');
        });
    },
  },
  beforeMount() {
    this.loadUser(this.$route.params.id)
      .then(() => {
        this.userLocal = Object.assign(this.user);
      });
  },
};
</script>

<style lang="scss" scoped>
.profile__tests {
  width: 1200px;
  margin-top: 58px;
  h2 {
    margin: 0 0 20px 0;
    font-size: 26px;
    line-height: 28px;
  }
}
.profile__info_more-show {
  max-height: 1000px !important;
}
.profile__info_more {
  max-height: 0;
  overflow: hidden;
  transition: max-height .5s ease;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__card {
    margin-top: 64px;
    width: 1200px;
    &_top {
      display: flex;
      .name {
        display: flex;
        flex-direction: column;
        width: 50%;
        background: #6FA1DC;
        padding: 26px 0 18px 42px;
        h2, h3 {
          margin: 0;
          font-weight: bold;
          line-height: 140.62%;
          letter-spacing: 0.05em;
          color: #FFFFFF;
        }
        h2 {
          font-size: 36px
        }
        h3 {
          font-size: 24px;
        }
      }
    }
  }
  &__info {
    display: flex;
    &_left {
      width: 50%;
    }
    &_right {
      width: 50%;
    }
  }
}
</style>
