<template>
  <div class="statistic">
    <q-card class="statistic__tests q-pb-lg">
      <q-card-section class="q-pr-sm">
        <q-scroll-area
            style="height: 75vh; margin-top: 5px; padding-right: 10px;"
            :thumb-style="thumbStyle"
            :content-style="contentStyle"
            :content-active-style="contentActiveStyle"
        >
          <q-btn class="full-width q-py-sm"
                 :id="1"
                 :outline="select === test.id"
                 @click="changeSelect(test.id)"
                 color="primary"
                 v-for="test in tests"
                 :key="test.id"
          >
            {{ test.title }}<br>{{ test.goal }}
          </q-btn>
        </q-scroll-area>
      </q-card-section>
    </q-card>
    <q-card class="statistic__users">
      <q-card-section class="q-pr-sm">
        <q-scroll-area
            style="height: 75vh; padding-right: 10px;"
            :thumb-style="thumbStyle"
            :content-style="contentStyle"
            :content-active-style="contentActiveStyle"
        >
          <router-link :to="{ path:`/profile/${user.id}` }"
                       v-for="user in employee"
                       :key="user.id"
          >
<!--          <router-link :to="{ path:`/profile/${user.id}` }">-->
            <q-card class="user text-black">
              <q-card-section>
                <div class="flex">
                  <div>
                    <img src="../statics/images/user-img.png" height="60" width="auto" alt="">
                  </div>
                  <div class="flex column user__info q-ml-md">
                    <h6>{{ user.first_name }} {{ user.last_name }}</h6>
                    <p>{{ user.department }}</p>
                    <p class="q-mt-sm ">{{ user.phone }}</p>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </router-link>
        </q-scroll-area>
      </q-card-section>
    </q-card>
    <q-card class="statistic__stats">
      <q-card-section class="q-pr-sm">
        <q-scroll-area
            style="height: 75vh; padding-right: 10px;"
            :thumb-style="thumbStyle"
            :content-style="contentStyle"
            :content-active-style="contentActiveStyle"
        >
          <q-card class="info">
            <q-card-section class="bg-primary text-white q-py-sm">
              <div class="text-h6 text-center text-uppercase">ИНФОГРАФИКА КОЛЛЕКТИВА</div>
            </q-card-section>
            <q-card-section>
              <img src="../statics/images/test.jpg" width="100%" height="auto" alt="">
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nullam ultrices tincidunt tortor, eget malesuada nisi commodo quis.
                Proin non feugiat dolor.
                Pellentesque habitant morbi tristique senectus et netus et fames ac turpis egestas.
              </div>
            </q-card-section>
          </q-card>
          <q-card class="info">
            <q-card-section class="bg-primary text-white q-py-sm">
              <div class="text-h6 text-center text-uppercase">ИНФОГРАФИКА ИНДИВИДУАЛЬНАЯ</div>
            </q-card-section>
            <q-card-section>
              <img src="../statics/images/test.jpg" width="100%" height="auto" alt="">
              <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nullam ultrices tincidunt tortor, eget malesuada nisi commodo quis.
                Proin non feugiat dolor.
                Pellentesque habitant morbi tristique senectus et netus et fames ac turpis egestas.
              </div>
            </q-card-section>
          </q-card>
        </q-scroll-area>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

export default {
  data() {
    return {
      select: null,
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#027be3',
        width: '5px',
        opacity: 0.75,
      },

      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#027be3',
        width: '9px',
        opacity: 0.2,
      },
    };
  },
  computed: {
    ...mapGetters({
      employee: 'employee/employee',
      tests: 'tests/tests',
    }),
  },
  methods: {
    ...mapActions({
      loadEmployee: 'employee/LOAD_EMPLOYEE',
      loadTests: 'tests/LOAD_TESTS',
    }),
    changeSelect(id) {
      this.select = id;
      this.loadTestInfo();
    },
    loadTestInfo() {},
  },
  beforeMount() {
    this.loadEmployee();
    this.loadTests();
  },
};
</script>

<style lang="scss" scoped>
.statistic {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 30px auto 0;
  height: 80vh;
  &__tests {
    width: 20%;
    button {
      margin-bottom: 10px;
    }
  }
  &__users {
    width: 28%;
    a {
      text-decoration: none;
    }
    .user {
      margin: 5px 5px 10px;
      &__info {
        h6 {
          margin: 0;
          font-size: 17px;
          line-height: 20px;
          letter-spacing: 0.05em;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
  }
  &__stats {
    width: 48%;
    .info {
      margin: 5px 5px 10px;
    }
  }
}
</style>
