<template>
  <div class="test">
    <div class="full-width">
      <q-input v-model="test.title" style="width: 580px;" />
    </div>
    <div class="full-width q-mt-lg">
      <div id="question">
        <q-card class="question" v-for="(question, index) in test.questions" :key="question.id">
          <q-card-section class="relative-position">
            <h5>{{ index + 1 }}. {{ question.title }}</h5>
            <q-rating
                v-if="question.max_choices === 5"
                v-model="ratingModel"
                size="2em"
                :max="5"
                color="primary"
                disable
            />
            <q-radio v-if="question.max_choices !== 5"
                     disable
                     v-model="shape"
                     val="radio1"
                     label="Да"
            />
            <q-radio v-if="question.max_choices !== 5"
                     disable
                     v-model="shape"
                     val="radio2"
                     label="Нет"
            />
            <q-btn style="position: absolute; right: 0; top: 0;"
                   flat
                   round
                   color="primary"
                   icon="clear"
                   @click="removeQuestion(question.id)"
            />
          </q-card-section>
        </q-card>
<!--        <q-card class="question">-->
<!--          <q-card-section>-->
<!--            <h5>2. Познакомился ли ты со своей командой?</h5>-->
<!--            <q-radio disable v-model="shape" val="radio1" label="Да" />-->
<!--            <q-radio disable v-model="shape" val="radio2" label="Нет" />-->
<!--          </q-card-section>-->
<!--        </q-card>-->
      </div>
      <div class="full-width flex items-center justify-between q-mb-lg">
        <q-input style="width: 70%;" v-model="title" label="Вопрос" />
        <div class="flex column" style="width: 10%;">
          <q-radio v-model="type" :val=true label="От 1 до 5" />
          <q-radio v-model="type" :val=false label="Да/Нет" />
        </div>
        <q-btn class=""
               @click="addNewQuestion(type, title)"
               round
               color="primary"
               icon="add"
        />
      </div>
      <div class="flex">
        <div class="flex column" style="width: 30%;">
          <q-btn to="/" class="q-mb-sm q-py-xs" color="amber-2" label="СОХРАНИТЬ ИЗМЕНЕНИЯ" />
          <q-btn class="q-mb-sm q-py-xs" color="grey-1" label="ОТМЕНИТЬ" />
          <q-btn to="/"
                 class="q-mb-sm q-py-xs text-grey-8"
                 color="amber-1"
                 label="ЗАПУСТИТЬ ТЕСТ"
          />
        </div>
        <div style="width: 30%; margin-left: 20px;">
<!--          <q-select style="margin-bottom: 15px;"-->
<!--                    standout-->
<!--                    v-model="model"-->
<!--                    :options="entities"-->
<!--                    label="Standout"-->
<!--          />-->
          <q-select
              filled
              v-model="model"
              use-input
              use-chips
              multiple
              input-debounce="0"
              @new-value="createValue"
              :options="entities.departments"
              @filter="filterFn"
              style="margin-bottom: 15px;"
          />
          <q-input standout v-model="date" style="">
            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-date v-model="date" mask="YYYY-MM-DD HH:mm" />
                </q-popup-proxy>
              </q-icon>
            </template>

            <template v-slot:append>
              <q-icon name="access_time" class="cursor-pointer">
                <q-popup-proxy transition-show="scale" transition-hide="scale">
                  <q-time v-model="date" mask="YYYY-MM-DD HH:mm" format24h />
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  data() {
    return {
      name: 'Для стажера',
      type: true,
      title: '',
      model: null,
      date: '',
    };
  },
  computed: {
    ...mapGetters({
      test: 'tests/test',
      entities: 'tests/entities',
    }),
  },
  methods: {
    ...mapActions({
      loadTest: 'tests/LOAD_TEST',
      addQuestion: 'tests/ADD_QUESTION',
      deleteQuestion: 'tests/DELETE_QUESTION',
      loadEntities: 'tests/LOAD_ENTITIES',
    }),
    addNewQuestion(type, question) {
      if (!type) {
        const data = {
          data: {
            max_choices: '2',
            title: question,
          },
          id: this.test.id,
        };
        this.addQuestion(data)
          .then(() => {
            this.loadTest(this.$route.params.id);
          });
      } else {
        const data = {
          data: {
            max_choices: '5',
            title: question,
          },
          id: this.test.id,
        };
        this.addQuestion(data)
          .then(() => {
            this.loadTest(this.$route.params.id);
          });
      }
      // if (!type) {
      // eslint-disable-next-line max-len
      //   document.getElementById('question').innerHTML += `<div data-v-33312a36='' class='question q-card'><div data-v-33312a36='' class='q-card__section q-card__section--vert'><h5 data-v-33312a36=''>${this.question}</h5><div data-v-33312a36='' tabindex='-1' role='radio' aria-label='Да' aria-checked='false' aria-disabled='' class='q-radio cursor-pointer no-outline row inline no-wrap items-center disabled'><div class='q-radio__inner relative-position no-pointer-events q-radio__inner--falsy'><svg focusable='false' viewBox='0 0 24 24' class='q-radio__bg absolute'><path d='M12,22a10,10 0 0 1 -10,-10a10,10 0 0 1 10,-10a10,10 0 0 1 10,10a10,10 0 0 1 -10,10m0,-22a12,12 0 0 0 -12,12a12,12 0 0 0 12,12a12,12 0 0 0 12,-12a12,12 0 0 0 -12,-12'></path><path d='M12,6a6,6 0 0 0 -6,6a6,6 0 0 0 6,6a6,6 0 0 0 6,-6a6,6 0 0 0 -6,-6' class='q-radio__check'></path></svg></div><div class='q-radio__label q-anchor--skip'>Да</div></div><div data-v-33312a36='' tabindex='-1' role='radio' aria-label='Нет' aria-checked='false' aria-disabled='' class='q-radio cursor-pointer no-outline row inline no-wrap items-center disabled'><div class='q-radio__inner relative-position no-pointer-events q-radio__inner--falsy'><svg focusable='false' viewBox='0 0 24 24' class='q-radio__bg absolute'><path d='M12,22a10,10 0 0 1 -10,-10a10,10 0 0 1 10,-10a10,10 0 0 1 10,10a10,10 0 0 1 -10,10m0,-22a12,12 0 0 0 -12,12a12,12 0 0 0 12,12a12,12 0 0 0 12,-12a12,12 0 0 0 -12,-12'></path><path d='M12,6a6,6 0 0 0 -6,6a6,6 0 0 0 6,6a6,6 0 0 0 6,-6a6,6 0 0 0 -6,-6' class='q-radio__check'></path></svg></div><div class='q-radio__label q-anchor--skip'>Нет</div></div></div></div>`;
      // } else {
      // eslint-disable-next-line max-len
      //   document.getElementById('question').innerHTML += `<div data-v-33312a36="" class="question q-card"><div data-v-33312a36="" class="q-card__section q-card__section--vert"><h5 data-v-33312a36="">${this.question}</h5><div data-v-33312a36="" aria-disabled="" class="q-rating row inline items-center q-rating--non-editable disabled text-primary" style="font-size: 2em;"><i aria-hidden="true" role="presentation" class="q-rating__icon material-icons q-icon notranslate text-primary">grade</i><i aria-hidden="true" role="presentation" class="q-rating__icon material-icons q-icon notranslate text-primary">grade</i><i aria-hidden="true" role="presentation" class="q-rating__icon material-icons q-icon notranslate text-primary">grade</i><i aria-hidden="true" role="presentation" class="q-rating__icon material-icons q-icon notranslate text-primary">grade</i><i aria-hidden="true" role="presentation" class="q-rating__icon material-icons q-icon notranslate text-primary">grade</i></div></div></div>`;
      // }
    },
    removeQuestion(question) {
      const data = {
        id2: question,
        id: this.test.id,
      };
      this.deleteQuestion(data)
        .then(() => {
          this.loadTest(this.$route.params.id);
        });
    },
  },
  beforeMount() {
    this.loadTest(this.$route.params.id);
    this.loadEntities();
  },
};
</script>

<style lang="scss" scoped>
.test {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 50px auto 0;
  height: 80vh;
  .question {
    margin-bottom: 15px;
    h5 {
      margin: 0 0 10px;
      font-size: 18px;
    }
  }
}
</style>
