<template>
  <q-layout view="hHh lpR fFf">

    <q-page-container class="login">
      <div class="login__logo">
        <img src="../statics/images/logo.png" alt="">
      </div>
      <div class="login__form">
        <form action="submit">
          <q-input v-model="user.email"
                   class="q-mb-md"
                   label-color="white"
                   dark
                   label="Email"
                   color="white"
                   input-style="width: 365px; color: #FFFFFF;"
          />
          <q-input v-model="user.password"
                   class="q-mb-xl"
                   label-color="white"
                   dark
                   color="white"
                   label="Password"
                   type="password"
                   input-style="width: 365px; color: #FFFFFF;"
          />
          <q-btn class="login__form_btn q-px-md"
                 color="amber-1"
                 text-color="amber-3"
                 label="Войти"
                 no-caps
                 @click="login(user)"
          />
        </form>
      </div>
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  data() {
    return {
      user: {
        email: null,
        password: null,
      },
    };
  },
  methods: {
    login(user) {
      window.localStorage.setItem('user', user);
      this.$router.push('/');
    },
  },
};
</script>

<style lang="scss" scoped>
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__logo {
    margin: 76px 0;
  }
  &__form {
    width: 530px;
    height: 330px;
    border-radius: 5px;
    background-color: #64A1CE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0 50px 0;
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &_btn {
      font-size: 20px;
      line-height: 0.8;
      padding: 0 40px;
    }
  }
}
</style>
