<template>
  <q-layout view="hHh lpR fFf">

    <q-header elevated class="bg-white text-black" height-hint="98">
      <q-toolbar class="toolbar">
        <q-toolbar-title class="flex items-center">
          <img src="../statics/images/logo-mini.png" alt="">
        </q-toolbar-title>
        <q-tabs class="full-height q-mr-xl" align="left" indicator-color="primary">
          <q-route-tab to="/" label="Менеджмент" />
          <q-route-tab to="/statistic" label="Статистика" />
        </q-tabs>
        <div class="toolbar__profile">
          <router-link class="flex items-center" to="/profile">
            <img src="../statics/images/profile.png" height="50" alt="">
            <span>Глеб</span>
          </router-link>
          <button @click="logout">
            <img src="../statics/icons/exit.svg" height="28" width="auto" alt="">
          </button>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>

export default {
  name: 'MainLayout',

  components: {
  },

  data() {
    return {
    };
  },
  methods: {
    logout() {},
  },
};
</script>

<style lang="scss" scoped>
.toolbar {
  margin: 0 auto;
  height: 71px;
  max-width: 1200px;
  padding: 0;
  &__profile {
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
    }
    span {
      margin-left: 16px;
      color: black;
    }
    button {
      display: flex;
      align-items: center;
      background: transparent;
      border: none;
      margin-left: 40px;
      cursor: pointer;
    }
  }
}
</style>
